.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.customer,
.bank {
  float: left;
  overflow: hidden;
}

.customer .custbtn,
.bank .bankbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.customer:hover .custbtn,
.bank:hover .bankbtn,
.custbtn:focus,
.bankbtn:focus {
  background-color: red;
}

.customer-content,
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.customer-content a,
.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.customer-content a:hover,
.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.show1 {
  display: block;
}
#coloryellow {
  color: yellow;
}
#back {
  padding: 10px 15px 40px 15px;
  background-color: yellow;
}

.footer {
  position: absolute;
 
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.abtus {
  float: left;
  margin-left: 30px;
  width: 30%;
}
.services {
  float: left;
  margin-left: 30px;
  width: 30%;
}
.contactus {
  float: left;
  margin-left: 30px;
  width: 30%;
}

.copy {
  clear: left;
  margin: 10px, 10px, 10px, 10px;
}

#body {
  text-align:center;
}

.divScroll {
  overflow: scroll;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-color: black;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333; /* Green */
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.reset {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333; /* Green */
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-title {
  font-family: Arial, Helvetica, sans-serif;
  width: 25;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#button1 {
        width: 300px;
        height: 40px;
}
     
#centeralign{
	text-align:center;
	height:300px;
}

.column3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

#grey{
	background-color: grey;
}
#displaytable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
}

#displaytable td, #displaytable th {
  border: 1px solid #ddd;
  padding: 8px;
}


#displaytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: yellow;
  color: black;
}