<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Group7_Bank</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BankEmployeeController</display-name>
    <servlet-name>BankEmployeeController</servlet-name>
    <servlet-class>com.ilp.Controller.BankEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankEmployeeController</servlet-name>
    <url-pattern>/BankEmployeeController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CreateCustomerController</display-name>
    <servlet-name>CreateCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.CreateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerController</servlet-name>
    <url-pattern>/CreateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateController</display-name>
    <servlet-name>CustomerUpdateController</servlet-name>
    <servlet-class>com.ilp.Controller.CustomerUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateController</servlet-name>
    <url-pattern>/CustomerUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerController</display-name>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>SearchAllCustomerDetailsController</display-name>
    <servlet-name>SearchAllCustomerDetailsController</servlet-name>
    <servlet-class>com.ilp.Controller.SearchAllCustomerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllCustomerDetailsController</servlet-name>
    <url-pattern>/SearchAllCustomerDetailsController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AccountDeleteController</display-name>
    <servlet-name>AccountDeleteController</servlet-name>
    <servlet-class>com.ilp.Controller.AccountDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDeleteController</servlet-name>
    <url-pattern>/AccountDeleteController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UpdateCustomerDetailsController</display-name>
    <servlet-name>UpdateCustomerDetailsController</servlet-name>
    <servlet-class>com.ilp.Controller.UpdateCustomerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerDetailsController</servlet-name>
    <url-pattern>/UpdateCustomerDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountController</display-name>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.ilp.Controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/CreateAccountController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>SearchCustomerController</display-name>
    <servlet-name>SearchCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.SearchCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomerController</servlet-name>
    <url-pattern>/SearchCustomerController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>SearchAccountController</display-name>
    <servlet-name>SearchAccountController</servlet-name>
    <servlet-class>com.ilp.Controller.SearchAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountController</servlet-name>
    <url-pattern>/SearchAccountController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ViewAllAccountDetailsController</display-name>
    <servlet-name>ViewAllAccountDetailsController</servlet-name>
    <servlet-class>com.ilp.Controller.ViewAllAccountDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAccountDetailsController</servlet-name>
    <url-pattern>/ViewAllAccountDetailsController</url-pattern>
  </servlet-mapping>
  
</web-app>